@import "../../../config";

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;

	width: 100%;

	padding: 0 6rem 6rem;

	.table {
		width: 100%;

		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		&__head,
		&__body {
			&__row {
				display: grid;
				align-items: center;
				justify-content: center;

				&__cell {
					display: inline-flex;
					align-items: center;
					justify-content: center;

					min-width: 0;

					text-align: center;

					cursor: default;
				}
			}
		}

		&__head {
			background: $color_gray_25;

			border-radius: 3rem 3rem 0 0;

			overflow: hidden;

			&__row {
				&__cell {
					padding: 1rem 0;

					font-size: 1.6rem;
					font-weight: 700;
				}
			}
		}

		&__body {
			background: $color_gray_10;

			border: 0.1rem solid $color_gray_25;

			&__row {
				border-bottom: 0.1rem solid $color_gray_25;

				&__cell {
					padding: 0.5rem 0;

					font-size: 1.6rem;

					&.align-to-right {
						text-align: right;
					}

					&.editable {
						cursor: pointer;

						&:hover,
						&:focus-within,
						&.active {
							background: $color_gray_40;
						}
					}
				}

				&:hover,
				&:focus-within,
				&.active {
					background: $color_gray_25;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.menu {
		background: $color_gray_25;

		position: fixed;

		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: 0.1rem solid $color_gray_25;
		border-radius: 0 0.5rem 0.5rem;
		overflow: hidden;

		&__item {
			width: 100%;

			padding: 0.5rem 1rem;

			font-size: 1.4rem;
			text-align: center;

			cursor: pointer;

			&:hover {
				background: $color_gray_40;
			}
		}

		&.open {
			display: flex;
		}

		&.reverse {
			transform: translate(0, -100%);

			border-radius: 0.5rem 0.5rem 0.5rem 0;
		}
	}
}
