@import '../../../config';

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;

	width: 100%;

	padding: 0 6rem 6rem;

	.menu {
		background: $color_gray_25;

		position: fixed;

		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border-radius: 0 0.5rem 0.5rem;
		overflow: hidden;

		&__item {
			width: 100%;

			padding: 0.5rem 1rem;

			font-size: 1.4rem;
			text-align: center;

			cursor: pointer;

			&:hover {
				background: $color_gray_40;
			}
		}

		&.open {
			display: flex;
		}
	}

	.table {
		&__body {
			&__row {
				[data-content='مثبت'] {
					background: $color_green_japanese_laurel;
				}

				[data-content='منفی'] {
					background: $color_red_flamingo;
				}
			}
		}
	}
}
