@import '../../../config';

:host {
	::ng-deep {
		.table {
			&__body {
				&__row {
					[data-content='غایب'] {
						background: hsl(20, 70%, 40%);
					}

					[data-content='مثبت'] {
						background: hsl(140, 70%, 40%);
					}

					[data-content='منفی'] {
						background: hsl(0, 70%, 40%);
					}
				}
			}
		}
	}
}
