<div class="table">
	<div class="table__head">
		<div class="table__head__row">
			<span class="table__head__row__cell">شماره دانشجویی</span>
			<span class="table__head__row__cell">نام</span>
			<span class="table__head__row__cell">نام خانوادگی</span>
			<span class="table__head__row__cell">28 آبان</span>
			<span class="table__head__row__cell">5 آذر</span>
			<span class="table__head__row__cell">12 آذر</span>
			<span class="table__head__row__cell">19 آذر</span>
			<span class="table__head__row__cell">26 آذر</span>
		</div>
	</div>
	<div class="table__body">
		<div class="table__body__row">
			<span class="table__body__row__cell" contenteditable>972023026</span>
			<span class="table__body__row__cell" contenteditable>بیژن</span>
			<span class="table__body__row__cell" contenteditable>عیسی پور</span>
			<span class="table__body__row__cell" contenteditable>حاضر</span>
			<span class="table__body__row__cell" contenteditable></span>
			<span class="table__body__row__cell" contenteditable></span>
			<span class="table__body__row__cell" contenteditable></span>
			<span class="table__body__row__cell" contenteditable></span>
		</div>
	</div>
</div>
