@import '../../../config';

:host {
	::ng-deep {
		.table {
			&__body {
				&__row {
					[data-content='100'] {
						background: hsl(140, 70%, 40%);
					}

					[data-content='90'] {
						background: hsl(90, 70%, 40%);
					}

					[data-content='80'] {
						background: hsl(80, 70%, 40%);
					}

					[data-content='70'] {
						background: hsl(70, 70%, 40%);
					}

					[data-content='60'] {
						background: hsl(60, 70%, 40%);
					}

					[data-content='50'] {
						background: hsl(50, 70%, 40%);
					}

					[data-content='40'] {
						background: hsl(40, 70%, 40%);
					}

					[data-content='30'] {
						background: hsl(30, 70%, 40%);
					}

					[data-content='20'] {
						background: hsl(20, 70%, 40%);
					}

					[data-content='10'] {
						background: hsl(10, 70%, 40%);
					}

					[data-content='0'] {
						background: hsl(0, 70%, 40%);
					}
				}
			}
		}
	}
}
